body {
    width: 80%; /* largura do body */
    margin: auto; /* vai calcular as distancias nas laterais */
    /* margin-left: 10%; */
    /* margin-right: 10%; */

    background-color: #999999;  
}

table {
    background-color: #FFFFFF;
}

thead {
    background-color: #333333;
    color: #FFFFFF;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid #333333;
    border-collapse: collapse;
    /* border-width: 1px;
    border-style: solid;
    border-color: #333333; */
}

th {
    border: 0;
    border-bottom: 1px solid #FFFFFF;
}

tbody > tr:nth-child(odd) {
    background-color: #AAAAAA;
}

tbody > tr:hover {
    font-weight: bold;
    text-transform: uppercase;
}

img {
    border-radius: 50%;
}

tbody td:nth-child(5) {
    text-align: center;
}

tr a:first-child {
    height: 30px;
    background-color: #dd7828;
    color: #333333;
    text-decoration: none;
    padding: 10px;
}

tr a:last-child {
    height: 30px;
    background-color: #cc0000;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}
